#desktop {
    display: block;
}

#mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    #desktop {
        display: none;
    }
    #mobile {
        display: block;
    }
}

html {
  font-family: "Kelly Slab", sans serif;
}